<%= link_to 'Назад', category_competency_path(@category, @category.competencies), class: 'btn btn-primary' %>
<h1 class="text-center"> <%= @competency.title %> </h1>
<div class="container">
  <% @skills.each do |skill| %>
    <div class="row mb-1">
      <li class="list-group-item w-75"> <%= skill.title %> </li>
      <%= link_to "Изменить", edit_category_competency_skill_path(@category, @competency, skill), class: 'btn btn-warning'%>
      <%= link_to "Удалить", category_competency_skill_path(@category, @competency, skill), class: 'btn btn-danger', method: :delete, data: { confirm: "you are sure?" } %>
    </div>
  <% end %>

  <h1 class="text-left">Добавить</h1>
  <%= form_for([@category, @competency, @skill]) do |f| %>
    <div class="row mb-2">
      <div class="col-10 form-group">
        <%= f.label :title, "Название скилла" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <%= f.submit 'Добавить скилл', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>