<%= link_to 'Назад', categories_path, class: 'btn btn-primary' %>
<h1 class="text-center"> <%= @category.title %> </h1>
<div class="container">
  <% @competencies.each do |competency| %>
    <%= link_to category_competency_skill_path(competency.category, competency), class:'w-75' do %>
      <div class="row mb-1">
        <li class="list-group-item"> <%= competency.title %> </li>
        <%= link_to "Изменить", edit_category_competency_path(@category, competency), class: 'btn btn-warning'%>
        <%= link_to "Удалить", category_competency_path(@category, competency), class: 'btn btn-danger', method: :delete, data: { confirm: "you are sure?" } %>
      </div>
    <% end %>
<% end %>

  <h1 class="text-left">Добавить</h1>
  <%= form_with model: [@category, @competency] do |f| %>
    <div class="row mb-2">
      <div class="col-9 form-group">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <%= f.submit 'Сохранить изменения', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>